* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.hero {
  height: 120px;
  width: 100%;
  background-color: rgb(29, 29, 29);
  background-size: cover;
  background-position: center;
}

nav {
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
  padding-left: 10%;
  padding-right: 10%;
}

.logo {
  color: #ffffff;
  font-size: 28px;
}

span {
  color: #ea1538;
}

nav ul li {
  list-style: none;
  display: inline-block;
  padding: 10px 20px;
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  color: #ea1538;
  transition: 0.3s;
  cursor: pointer;
}

nav ul li a:visited {
  color: #ffffff;
}

/*
button {
  border: none;
  background: #ea1538;
  padding: 12px 30px;
  border-radius: 30px;
  color: #ffffff;
  font-weight: bold;
  font-size: 15px;
  transition: 0.4s;
}

button:hover {
  transform: scale(1.2);
  cursor: pointer;
}
*/
