* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}


.main-content {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 10rem;
    position: sticky;
    top: 0;
    background-color: rgba(0, 83, 156, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(2px);
}

.logo {
  color: #ffffff;
  font-size: 28px;
}

span {
  color: #ffd662;
}

nav ul li {
  list-style: none;
  display: inline-block;
  padding: 10px 20px;
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  color: #ffd662;
  transition: 0.3s;
  cursor: pointer;
}

.header-logo {
  color: #fff;
}

.logo {
  color: #ffd662;
}

footer {
  background: #00539c;
  height: auto;
  width: 100vw;
  padding-top: 40px;
  color: #fff;
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 2rem;
    box-shadow: 0px -5px 5px rgba(0, 0, 0, 0.2);
}

.footer-container h3 {
  font-size: 1.8rem;
  text-transform: capitalize;
  line-height: 3rem;
}

.footer-container p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}

.footer-container .links {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 1rem;
    margin: 1rem 1rem;
}


button {
  border: none;
  background: #ffd662;
  padding: 12px 30px;
  border-radius: 30px;
  color: #00539c;
  font-weight: bold;
  font-size: 16px;
  transition: 0.3s;
}

button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.background-image {
  background: #000000;
}


.jumbotron {
    background: #00539c;
    color: #fff;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
}

.container-main {
    max-width: 90%;
    margin: auto;
    padding: 0 20px;
}

.container-fluid {
    max-width: 100%;
    margin: auto;
    padding: 0 20px;
}


.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2px;
}

.grid-item {
    background: #fff;
    color: #000;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
}

.grid-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}


.mx-0 {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.mx-2 {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.mx-5 {
    margin-left: 3rem;
    margin-right: 3rem;
}

.mx-10 {
    margin-left: 6rem;
    margin-right: 6rem;
}

.my-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.my-1 {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

.my-2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.my-5 {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.my-10 {
    margin-top: 6rem;
    margin-bottom: 6rem;
}