* {
  padding: 0;
  margin: 0;
  background: rgb(29, 29, 29);
  color: #fff;
}

/* unvisited link */
a:link {
  font-weight: bold;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: #fff;
}

/* mouse over link */
a:hover {
  color: #ea1538;
}

/* selected link */
a:active {
  color: darkslategrey;
}
