:root {
  --clr-bg: #e7eeef;
  --clr-primary: #243c58;
  --clr-secondary: #5d7793;
  --clr-tertiary: #699cc5;
  --clr-quaternary: #696f6e;
  --clr-accent: rgb(255, 136, 0);
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

.container {
  background: var(--clr-bg);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  padding-bottom: 60px;
}

.container .content {
  text-align: center;
}

.container .content h3 {
  font-size: 30px;
  color: #333;
}

.container .content h3 span {
  background: var(--clr-bg);
  color: var(--clr-primary);
  border-radius: 5px;
  padding: 0 15px;
}

.container .content h1 {
  font-size: 50px;
  color: #333;
}

.container .content h1 span {
  color: var(--clr-primary);
}

.container .content p {
  font-size: 25px;
  margin-bottom: 20px;
}

.container .content .btn {
  display: inline-block;
  padding: 10px 30px;
  font-size: 20px;
  background: #333;
  color: #fff;
  margin: 0 5px;
  text-transform: capitalize;
}

.container .content .btn:hover {
  background: var(--clr-primary);
}

.form-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  padding-bottom: 60px;
  background: var(--clr-bg);
}

.form-container form {
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  background: #fff;
  text-align: center;
  width: 500px;
}

.form-container form h3 {
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #333;
}

.form-container form input,
.form-container form select {
  width: 100%;
  padding: 10px 15px;
  font-size: 17px;
  margin: 8px 0;
  background: #eee;
  border-radius: 5px;
}

.form-container form select option {
  background: #fff;
}

.form-container form .form-btn {
  background: var(--clr-secondary);
  color: var(--clr-primary);
  text-transform: capitalize;
  font-size: 20px;
  cursor: pointer;
}

.form-container form .form-btn:hover {
  background: var(--clr-primary);
  color: #fff;
}

.form-container form p {
  margin-top: 10px;
  font-size: 20px;
  color: #333;
}

.form-container form p a {
  color: var(--clr-primary);
  font-weight: bold;
}

.form-container form .error-msg {
  margin: 10px 0;
  display: block;
  background: tomato;
  color: #fff;
  border-radius: 5px;
  font-size: 20px;
  padding: 10px;
}

.text-field:hover {
  border: 1px solid var(--clr-accent);
}

#link-color:hover {
  color: var(--clr-accent);
}

#showPass-card {
  padding: 10px;
  margin: 10px 0;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: stretch;
}

#showPass-card input {
  margin: 0;
  padding: 0;
  width: 100%;
}

#showPass-card input[type="checkbox"] {
  border-radius: 10px;
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;
  margin-right: 10px;
  margin-top: 5px;
}

#showPass-card label {
  margin: 0;
  padding: 0;
  margin-left: 260px;
  font-size: 18px;
  width: 100%;
}

#showPass-card input:hover {
  cursor: pointer;
}
